button {
  border-radius: 50px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  width: 282px;
  height: 74px;
  border: none;
}

.button-orange {
  box-shadow: 1px 1px 20px 0px var(--purple);
  background: var(--orange);
  color: var(--beige);
  margin-top: 45px;
}

.button-white {
  box-shadow: 1px 1px 20px 0px var(--beige-94);
  border-radius: 50px;
  background: var(--beige);
  color: var(--purple);
  margin-top: 116px;
}

.button-footer {
  box-shadow: 1px 1px 20px 0px var(--beige-94);
  color: var(--beige);
  border-radius: 50px;
  border: 1px solid var(--beige);
  background: var(--gray-dark);
  margin-top: 40px;
}
