.card-container {
  margin-top: 127px;
  background-image: url(../../img/mosaique-B.png);
  mix-blend-mode: darken;
  padding: 100px 0 47px 0;
}

.card-blonde {
  display: flex;
  flex-direction: row;
  background: var(--orange);
  margin-top: 62px;
  width: 1088px;
  height: 587px;
  flex-shrink: 0;
}

.card-brune {
  display: flex;
  flex-direction: row-reverse;
  background: var(--purple);
  width: 1088px;
  height: 587px;
  flex-shrink: 0;
}

.card-ipa {
  display: flex;
  flex-direction: row;
  background: var(--yellow);
  width: 1088px;
  height: 587px;
  flex-shrink: 0;
}

.card {
  margin-bottom: 62px;
}
