.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-container-text {
  display: flex;
  animation: carousel 30s infinite linear;
}

.carousel-text {
  background: var(--orange-94);
  padding: 24px 0px 24px 0;
  width: 25%;
  gap: 10px;
  color: var(--beige, #f3f0e6);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  flex-shrink: 0;
}

@keyframes carousel {
  0% {
    transform: translateX(-1843px);
  }
  100% {
    transform: translateX(0px);
  }
}

.carousel-shop {
  display: flex;
  flex-direction: row;
  position: relative;
  animation: carousel-shop 20s infinite linear;
}

@keyframes carousel-shop {
  0% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(0px);
  }
}
