.carousel-container {
  margin-top: -100px;
  position: relative;
  overflow: hidden;
  z-index: -1;
  background: var(--orange-94);
  box-shadow: 0px 1px 30px 0px var(--orange);
}

.carousel-container-text {
  display: flex;
  animation: carousel 30s infinite linear;
}

.carousel-text {
  padding: 24px 0px 24px 0;
  width: 25%;
  gap: 10px;
  color: var(--beige, #f3f0e6);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  flex-shrink: 0;
}

@keyframes carousel {
  0% {
    transform: translateX(-1843px);
  }
  100% {
    transform: translateX(0px);
  }
}

.carousel-shop {
  width: 100%;
  max-width: 1000px;
}

.carousel-shop figure img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  float: left;
}

.carousel-shop {
  width: 130%;
  max-width: 1000px;
  // overflow: hidden;
}

.carousel-shop figure {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  animation: 20s slidy infinite;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -200%;
  }
  45% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  75% {
    left: -400%;
  }
  95% {
    left: -400%;
  }
  100% {
    left: -500%;
  }
}
