.contained-p {
  color: var(--beige);
}

.contained-warning {
  margin-top: 40px;
}

.contained-card-blond {
  margin-right: 70px;
}

.contained-card-ipa {
  margin-right: 70px;
}

.contained-card-brune {
  margin-left: 70px;
  margin-right: 300px;
}
