.contained-p {
  color: var(--beige);
}

.contained-warning {
  margin-top: 40px;
}

.contained-card-blond,
.contained-card-ipa {
  margin-left: -80px;
}

.contained-card-brune {
  margin-left: 70px;
  margin-right: 150px;
}
