.header-img {
  background-image: url(../../img/ensemble-ingredients-licorne.png);
  mix-blend-mode: darken;
  background-repeat: no-repeat;
}

.header-bier-img {
  display: flex;
  flex-direction: row;
}
