.img-bier {
  width: 580.555px;
  height: 596.082px;
  flex-shrink: 0;
}

.img-coriandre {
  width: 709px;
  height: 468px;
  flex-shrink: 0;
  margin-left: -170px;
}

.img-grains {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 1052px;
  height: 889px;
  flex-shrink: 0;
  margin: -250px 0 0 600px;
  z-index: -1;
}

.img-houblon {
  width: 1279.77px;
  height: 802.753px;
  transform: rotate(43.796deg);
  flex-shrink: 0;
  position: absolute;
  margin: 50px 0 0 530px;
  z-index: -1;
}

.img-card {
  width: 671px;
  height: 689px;
  flex-shrink: 0;
  margin-left: -335px;
}

.img-card-brune {
  margin-right: -335px;
}

.img-header-bier {
  display: flex;
  justify-self: center;
}

.img-plant {
  display: flex;
  flex-direction: row;
}

.img-section-shop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-section-shop .button-shop-img {
  font-size: 29px;
  opacity: 0;
  transition-duration: 0.3s;
}

.img-section-shop:hover .button-shop-img {
  opacity: 100%;
  transition-delay: 0s;
}

.img-section-shop:hover {
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.img-section-shop:hover img {
  opacity: 30%;
}
