.logo-nav {
  width: 108px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 25px;
}

.logo {
  margin-right: 25px;
}

.logo-header {
  margin-top: 210px;
  width: 778px;
  height: 144px;
  flex-shrink: 0;
}

.logo-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-footer {
  width: 160px;
  height: 29px;
  flex-shrink: 0;
}
