/* ====================================
// css variables
// ==================================== */

:root {
  --gray-dark: #191919;
  --beige: #f3f0e6;
  --purple: #7322ef;
  --orange: #ff3f02;
  --yellow: #f1ad21;
  --orange-94: #ff3f02f0;
  --beige-94: #f3f0e6f0;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background: var(--beige);
  font-family: "Montreal", sans-serif;
  color: var(--gray-dark);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

h2,
p {
  color: var(--orange);
}

h3 {
  color: var(--beige);
  font-family: Montreal;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 111px 0 29px 0;
}

h2 {
  font-size: 170px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

footer {
  background: var(--gray-dark);
  color: var(--beige);
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
